.Card-list-item{
    height: 300px;
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 129, 56);
    border-radius: 16px;
    padding: 10px 20px;
    color: #eee;
}
